ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/decibelDB?appName=Cluster0
CLOUDINARY_NAME=your_cloudinary_cloud_name
CLOUDINARY_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key
RAZORPAY_API_KEY=your_razorpay_key_id
RAZORPAY_API_SECRET=your_razorpay_key_secret
CLIENT_URL=https://your-frontend-domain.vercel.app
NODE_ENV=production
